<%= render "partial/index" %>
<div class="row">

	<div class="col-md-6">
<h2>
	Articles
</h2>

<% @articles.each do |art| %>
	<h4><%= link_to art.title, article_path(art) %></h4>	

		<%= image_tag(art.avatars_url) %>
	    <% if user_signed_in? %>
        <p><%= art.body %> - <%= link_to "Delete", art, method: :delete  %></p>        
        <% else %>
        <p><%= art.body %></p>        
        <% end %>
		
		
	<p>Visits: <%= art.visits_count %></p>

<%end%>

    </div>

</div>